<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.unam.petagram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pojo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pojo.Favoritos"
            android:parentActivityName=".pojo.MainActivity">

            <!-- Soporte para vers anteriores a la 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pojo.MainActivity" />
        </activity>

        <activity android:name=".pojo.ActivityAbout"
            android:parentActivityName=".pojo.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pojo.MainActivity" />
        </activity>

        <activity android:name=".pojo.ActivityContact"
            android:parentActivityName=".pojo.MainActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pojo.MainActivity" />
        </activity>

    </application>

</manifest>
